<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<title>コンフィグレーション</title>
	</properties>
	<body>
		<section name="目次">
			<ul>
				<li><p><a href="config-abstraction.html">diconファイルの構成</a></p>
					<ul>
						<li><p><a href="config-abstraction.html#概要">概要</a></p></li>
						<li><p><a href="config-abstraction.html#構成要素">構成要素</a></p></li>
						<li><p><a href="config-abstraction.html#アウトバウンド通信のみの場合">アウトバウンド通信のみの場合</a></p></li>
						<li><p><a href="config-abstraction.html#インバウンド通信のみの場合">インバウンド通信のみの場合</a></p></li>
						<li><p><a href="config-abstraction.html#インバウンド通信とアウトバウンド通信の場合">インバウンド通信とアウトバウンド通信の場合</a></p></li>
						<li><p><a href="config-abstraction.html#複数のコネクションを使う場合">複数のコネクションを使う場合</a></p></li>
						<li><p><a href="config-abstraction.html#複数のリソースアダプタを使う場合">複数のリソースアダプタを使う場合</a></p></li>
					</ul>
				</li>
				<li><p><a href="config-ra.html">リソースアダプタ</a></p>
					<ul>
						<li><p><a href="config-ra.html#概要">概要</a></p></li>
						<li><p><a href="config-ra.html#リソースアダプタの設定">リソースアダプタの設定</a></p>
							<ul>
								<li><p><a href="config-ra.html#ResourceAdapterDeployer">ResourceAdapterDeployer</a></p></li>
								<li><p><a href="config-ra.html#リソースアダプタ固有のプロパティ">リソースアダプタ固有のプロパティ</a></p></li>
							</ul>
						</li>
						<li><p><a href="config-ra.html#スレッドプールの設定">スレッドプールの設定</a></p>
							<ul>
								<li><p><a href="config-ra.html#BootstrapContext">BootstrapContext</a></p></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><p><a href="config-outbound.html">アウトバウンド通信</a></p>
					<ul>
						<li><p><a href="config-outbound.html#概要">概要</a></p></li>
						<li><p><a href="config-outbound.html#接続系">接続系</a></p>
							<ul>
								<li><p><a href="config-outbound.html#ManagedConnectionFactoryDeployer">ManagedConnectionFactoryDeployer</a></p></li>
								<li><p><a href="config-outbound.html#リソースアダプタ固有のプロパティ">リソースアダプタ固有のプロパティ</a></p></li>
								<li><p><a href="config-outbound.html#SessionFactory">SessionFactory</a></p></li>
								<li><p><a href="config-outbound.html#DestinationFactory">DestinationFactory</a></p></li>
							</ul>
						</li>
						<li><p><a href="config-outbound.html#送信系">送信系</a></p>
							<ul>
								<li><p><a href="config-outbound.html#MessageSender">MessageSender</a></p></li>
								<li><p><a href="config-outbound.html#MessageFactory">MessageFactory</a></p></li>
								<li><p><a href="config-outbound.html#SendMessageInterceptor">SendMessageInterceptor</a></p></li>
								<li><p><a href="config-outbound.html#TextProvider">TextProvider</a></p></li>
							</ul>
						</li>
						<li><p><a href="config-outbound.html#受信系">受信系</a></p>
							<ul>
								<li><p><a href="config-outbound.html#MessageReceiver">MessageReceiver</a></p></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><p><a href="config-inbound.html">インバウンド通信</a></p>
					<ul>
						<li><p><a href="config-inbound.html#概要">概要</a></p></li>
						<li><p><a href="config-inbound.html#メッセージエンドポイントの設定">メッセージエンドポイントの設定</a></p>
							<ul>
								<li><p><a href="config-inbound.html#ActivationSpecDeployer">ActivationSpecDeployer</a></p></li>
								<li><p><a href="config-inbound.html#リソースアダプタ固有のプロパティ">リソースアダプタ固有のプロパティ</a></p></li>
								<li><p><a href="config-inbound.html#MessageEndpointFactory">MessageEndpointFactory</a></p></li>
							</ul>
						</li>
						<li><p><a href="config-inbound.html#JMSコンテナの設定">JMSコンテナの設定</a></p>
							<ul>
								<li><p><a href="config-inbound.html#JMSContainer">JMSContainer</a></p></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><p>設定例</p>
					<ul>
						<li><p><a href="config-activemq.html">Apache ActiveMQ</a></p></li>
						<li><p><a href="config-wmq.html">IBM WebSphere MQ</a></p></li>
						<li><p><a href="config-jboss.html">JBoss Messaging</a></p></li>
					</ul>
				</li>
			</ul>
		</section>
	</body>
</document>
