<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<title>コンフィグレーション</title>
	</properties>
	<body>
		<section name="目次">
			<ul>
				<li><p><a href="config-abstraction.html">diconファイルの構成</a></p>
					<ul>
						<li><p><a href="config-abstraction.html#概要">概要</a></p></li>
						<li><p><a href="config-abstraction.html#構成要素">構成要素</a></p></li>
						<li><p><a href="config-abstraction.html#アウトバウンド通信のみの場合">アウトバウンド通信のみの場合</a></p></li>
						<li><p><a href="config-abstraction.html#インバウンド通信のみの場合">インバウンド通信のみの場合</a></p></li>
						<li><p><a href="config-abstraction.html#インバウンド通信とアウトバウンド通信の場合">インバウンド通信とアウトバウンド通信の場合</a></p></li>
						<li><p><a href="config-abstraction.html#複数のコネクションを使う場合">複数のコネクションを使う場合</a></p></li>
						<li><p><a href="config-abstraction.html#複数のリソースアダプタを使う場合">複数のリソースアダプタを使う場合</a></p></li>
					</ul>
				</li>
				<li><p><a href="config-ra.html">リソースアダプタ</a></p>
					<ul>
						<li><p><a href="#リソースアダプタの設定">リソースアダプタの設定</a></p></li>
						<li><p><a href="#スレッドプールの設定">スレッドプールの設定</a></p></li>
						<li><p><a href="#Apache ActiveMQの場合">Apache ActiveMQの場合</a></p></li>
						<li><p><a href="#IBM WebSphere MQの場合">IBM WebSphere MQの場合</a></p></li>
					</ul>
				</li>
				<li><p><a href="config-outbound.html">アウトバウンド通信</a></p></li>
				<li><p><a href="config-inbound.html">インバウンド通信</a></p></li>
			</ul>
		</section>
	</body>
</document>
